<div class="mt-4">
    <h3>Khóa học đã xóa</h3>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ khóa học</th>
        <th scope="col">Ngày xóa </th>
        <th scope="col"> Chỉnh Sửa </th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.deletedAt}}</td>
            <td>
                <a href="" class="btn btn-link restore-btn" data-bs-id="{{this._id}}">Khôi phục</a>
                <a href="#"  class="btn btn-link"  data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#deleteCourseModal">Xóa vĩnh viễn</a>
            </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Thùng rác trống <a href="/me/stored/courses">Quay lại danh sách khóa học</a>
          </td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>

{{!-- confirm deleting course  --}}
<div class="modal" tabindex="-1" id="deleteCourseModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Khóa Học ?!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Bạn chắc chắn muốn xóa khóa học này ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" id='btn-delete-course' class="btn btn-danger ">Xóa Khóa Học</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form method="post" name="delete-course-form" ></form>
<form method="post" name="restore-course-form" ></form>

{{!-- handle delete course --}}
<script>
  const deleteCourseModal = document.getElementById('deleteCourseModal');
  const deleteForm = document.forms['delete-course-form'];
  const restoreForm = document.forms['restore-course-form'];
  var btnDeleteCourse = document.getElementById('btn-delete-course');
  var btnRestoreAll = document.querySelectorAll('.restore-btn');

  
  var courseId;

  // when dialog confirm clicked
  deleteCourseModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    courseId = button.getAttribute('data-bs-id')
  })

  // when Btn delete clicked
  btnDeleteCourse.onclick = function (){
    deleteForm.action = `/courses/${courseId}/force?_method=DELETE`;
    deleteForm.submit();
  }

  // restore btn clicked
  btnRestoreAll.forEach((restoreBtn) => {
        restoreBtn.addEventListener('click', (e) => {
            e.preventDefault();

            courseId = restoreBtn.getAttribute('data-bs-id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
  });

  
</script>